body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}



#main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
}


#home {
    color: white;
    text-align: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}



#bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 2rem 6rem;
}

#text-container h1 {
    font-size: 3rem;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
    margin: 0;
}

#text-container p {
    font-size: 1rem;
    font-family: Apple Chancery, cursive;
    margin: 0;
}

#app {
    display: flex;
    background: #f4f4f4;
    width: 100%;
    height: 100%;
    position: relative;
}

#canvas-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


#main-canvas {
    z-index: 0;
}





input {
    accent-color: black;
}




#range-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 50%;
    height: 100%;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.range {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.range label {
    display: flex;
    justify-content: space-between;
    /* Mots de chaque côté du curseur */
    width: 100%;
    font-size: 14px;
}

.range input {
    margin: 10px 0;
    /* Espace autour du curseur */
    width: 80%;
    /* Ajustement de la taille */
    width: 200px;
}




button {
    width: 150px;
    height: 20px;
    padding: 10px 20px 30px 20px;
    border: 3px solid #2F2A85;
    border-radius: 5px;
    background-color: #ECECF9;
    color: #2F2A85;
    font-family: 'Lucida Sans';
    font-size: 16px;
    transition: background-color 0.2s, color 0.2s;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: #2F2A85;
    color: white;
}










/* Conteneur des icônes */
.icon-container {
    margin-top: 10px;
}

/* Icône du bas (plus grande) */
.icon-container {
    transform: rotate(90deg);
    /* Rotation de l'icône vers le bas */
    animation: bounce 1.5s ease-in-out infinite;
    font-size: 24px;
    /* Taille plus grande */
}

/* Animation de descente/remontée */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0) rotate(90deg);
        /* Position initiale */
    }

    40% {
        transform: translateY(10px) rotate(90deg);
        /* Descente */
    }

    60% {
        transform: translateY(0) rotate(90deg);
        /* Remontée */
    }
}