body {
    margin: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
}

main{
    overflow: hidden;
    height: 100vh;
}

input {
    accent-color: #39aa39;
}

